.header {
  border: 1px solid black;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav,
  .iconsWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .iconsWrapper {
    gap: 15px;
  }

  a:hover {
    color: blue;
  }

  img {
    cursor: pointer;
  }
}

.active {
  text-decoration: underline;
}
